.title-header {
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 90vw;
    height: 140px;
    border-bottom: #E3E0E0 1px solid;
    margin-left: 2vw;
    margin-top: 0 !important;
    align-items: center;
    justify-content: flex-start;
}

.title-header-alt {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  width: 85vw;
  height: 10vh;
  border-bottom: #E3E0E0 1px solid;
  margin-left: 2vw;
}

.title-header h1 {
    font-size: 50px;
    color: #009EED;
    display: flex;
    justify-self: flex-start;
    align-items: center;
    transition: transform 0.2s;
}

.title-header-alt h1{
    font-size: 50px;
    margin-top: 1vh;
    color: #009EED;
    display: flex;
    justify-self: flex-start;
    align-items: center;
    transition: transform 0.2s;
}

.title-header h1:hover {
    transform: scale(1.05);
}
.title-header-alt h1:hover {
    transform: scale(1.05);
}

.title-header button,
.title-header-alt button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    margin: initial;
    margin-left: 20px;
}

.title-header button .material-symbols-outlined,
.title-header-alt button .material-symbols-outlined {
  font-size: 24px;
  color: #007bff;
  transition: color 0.2s;
}

.title-header button:hover .material-symbols-outlined,
.title-header-alt button:hover .material-symbols-outlined {
  color: #0056b3;
}


