.defaultButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #afd9ad;
}

.defaultButton:hover {
  background-color: #9ebf99;
}

.defaultButton-disabled {
  opacity: 0.5;
  background-color: gray;
  cursor: not-allowed;
}

.defaultButton-disabled:hover {
  background-color: gray;
}
